*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("image.jpg");
    background-size:cover;
}
/*heading*/
h1{  
     background-image: url("image.jpg");
     text-align: center;
     color: #9AEAFE;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
}
/* container */
.container{
    margin-top: 5vmin;
    height: 10vmin;
    background-image: url("image.jpg");
    border: 1px solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:5vmin;
}

/* font color */
.input-color{
    display: flex;
    align-items: center;
    gap: 8px;
}
input[type="color"]{
appearance:auto;
background-color: transparent;
border: none;
cursor :pointer;
height: 30px;
width: 60px;
}
input[type="color"]::-webkit-color-swatch{
    border-radius: 15px;
    box-shadow:0 0 0 2px #ffffff , 0 0 0 3px #020900;
}

/* font family and font size options */
select{
    padding: 6px;
    border: 1px solid #020900;
    border-radius: 3px;
    background-color: #DBE4EE;
}

.option-button:hover{
    border:1px solid black;
}

/* redo and undo buttons */
button{
    height:28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    background-color:#DBE4EE;
    border: none;
    outline: none;
    color: black;
    cursor:pointer;
}

/* text area */
#textbox{
 margin-top: 5vmin;
background-color: #E0E4FB;
 border: 1px solid black;
 padding:20px;
height: 50vh;
}
